.login-form {
  width: 300px;
  margin: 50px auto;
}

.refresh-button {
  margin: 5px 0px 5px 15px;
}

.custom-paginate {
  margin: 5px 0;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
